{extend name='admin@main'}
{block name="content"}
<form onsubmit="return false;"  data-auto="true" method="post" class='layui-form layui-card' autocomplete="off">
    <div class="think-box-shadow padding-40">
        <div>短信宝官网：https://www.smsbao.com/</div><br>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs3 relative">
                <span class="color-green">接口（国内）</span>
                <input name="host_cn" class="layui-input" placeholder="请输入接口地址" value="{$vo.host_cn|default=''}" readonly>
            </label>
            <label class="layui-col-xs3 relative">
                <span class="color-green">接口（国际）</span>
                <input name="host_wo" class="layui-input" placeholder="请输入接口地址" value="{$vo.host_wo|default=''}" readonly>
            </label>
            <label class="layui-col-xs3 relative">
                <span class="color-green">用户名</span>
                <input name="username" class="layui-input" placeholder="请输入用户名" value="点击编辑查看" readonly>
            </label>
            <label class="layui-col-xs3 relative">
                <span class="color-green">API Key</span>
                <input name="password" class="layui-input" placeholder="请输入API Key" value="点击编辑查看" readonly>
            </label>
        </div>

        <div class="layui-form-item text-center">
            {if auth("phone_edit")}
                <a class="layui-btn" data-modal='{:url("phone_edit")}?id={$vo.id}'>编 辑</a>
            {else}
            <a data-tips-text="您没有编辑的权限哦！" class="layui-btn layui-btn-sm layui-btn-primary layui-disabled">编 辑</a>
            {/if}
        </div>
    </div>
</form>
{/block}
{block name='script'}
<script>
    window.form.render();
</script>
{/block}
