<form onsubmit="return false;" action="{:request()->url()}" data-auto="true" method="post" class='layui-form layui-card' autocomplete="off">

    <div class="layui-card-body">

        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">汇率</label>
            <label class="layui-col-xs10">
                <input name="price" required value='{$vo.price|default=""}' placeholder="请输入货币汇率" class="layui-input">
            </label>
        </div>
        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">显示精度</label>
            <label class="layui-col-xs10">
                <input name="precision" required value='{$vo.precision|default=""}' placeholder="请输入显示精度" class="layui-input">
            </label>
        </div>
        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">每日可提现次数</label>
            <label class="layui-col-xs10">
                <input name="withdraw_num" required value='{$vo.withdraw_num|default=""}' placeholder="请输入每日可提现次数" class="layui-input">
            </label>
        </div>
        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">最低提现金额</label>
            <label class="layui-col-xs10">
                <input name="withdraw_min" required value='{$vo.withdraw_min|default=""}' placeholder="请输入最低提现金额" class="layui-input">
            </label>
        </div>
        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">最低充值金额</label>
            <label class="layui-col-xs10">
                <input name="recharge_min" required value='{$vo.recharge_min|default=""}' placeholder="请输入最低充值金额" class="layui-input">
            </label>
        </div>
        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">常用充值金额</label>
            <label class="layui-col-xs10">
                <input name="common_money" required value='{$vo.common_money|default=""}' placeholder="请输入常用充值金额，以 , 隔开" class="layui-input">
            </label>
        </div>
    </div>

    <div class="hr-line-dashed"></div>
    <div class="layui-form-item text-center">
        {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
</form>
{block name='script'}
<script>
    window.form.render();
</script>
{/block}
